.wxpay-page
  &>.row:nth-child(1)
    border 1px solid #f0f0f0
    margin-top 20px
    padding-top 20px
    padding-bottom 20px
  .qrcode-component
    text-align center
    .logo
      margin-bottom 30px
  .qrcode
    width 230px
    height 230px
    display inline-block
  .status-wrapper
    margin-top 20px  
    .status
      margin-left auto
      margin-right auto
      width 260px
      height 86px
      .status-content
        display table-cell
        vertical-align middle
        width 260px
        height 86px
    .scanned
      background-color: #b1e8ba
      color: #3e7b49